body {
  padding: 1em;
  font: medium "American Typewriter", Helvetica, sans-serif;
}
a:link, a:visited { color: darkblue; }
#results.failed em { font-style: normal; color: crimson; }
#results.passed em { font-style: normal; color: darkgreen; }
#fixtures {
  position: absolute;
  top: -10000px;
  left: -10000px;
}
#nav {
  list-style: none;
  padding: 0;
  margin: 2em 0 0 0;
  font-size: 12px;
  max-width: 30em;
}
#nav a {
  padding: .8em 1.5em;
  background: #eee;
  border-top: 2px solid white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1em;
  display: block;
  color: #555;
}
#nav .current a { background: #ccc; color: black; }
#nav a:active { background: #555; color: white; }
@media only screen and (max-device-width:480px) {
  body { margin: 7px; font-size: small; }
  h1, #results { text-align: center; }
  #nav { font-size: 14px; max-width: auto; }
}
