---
title: Zepto.js
layout: default
---

<div id="sidebar" class="interface">

  <a class="toc_title" href="#">
    {{ title }} <span class="version">(0.8)</span>
  </a>

  <a class="toc_title" href="#core">
    Core
  </a>
  <ul class="toc_section">
    {% for post in site.categories.core reversed %}
    <li>- <a href="#{{ post.slug }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</div>

<div class="container">

  <h1>
    zepto.js — the aerogel-weight mobile javascript framework
  </h1>

  <p>
    <b>Zepto.js is a minimalist JavaScript framework</b> for mobile WebKit
    browsers, with&nbsp;a&nbsp;jQuery-compatible syntax.
  </p>

  <p>
    The goal: a <b>~5k micro-library</b> that handles most basic drudge work
    with a nice API so you can <b>concentrate on getting stuff done</b>.
  </p>

  <h2>Downloads</h2>

  <table>
    <tr>
      <td><a href="zepto.js">Development Version (0.8)</a></td>
      <td><i>34kb, Uncompressed with Comments</i></td>
    </tr>
    <tr>
      <td><a href="zepto.min.js">Production Version (0.8)</a></td>
      <td><i>&lt; 4kb, Minified and Gzipped</i></td>
    </tr>
  </table>

  <div id="documentation">

    <h2 id="core">Core methods</h2>

    {% for post in site.categories.core reversed %}
    <article class=method id="{{post.slug }}">
      <h3>{{ post.title }}</h3>
      <code>{{ post.signature }}</code>
      {{ post.content }}
    </article>
    {% endfor %}

    <h2 id="changelog">Change Log</h2>

    <p>
      <b class="header">0.8</b> &mdash; <small><i>November 3, 2011</i></small><br />
      <ul>
        <li>CSS transitions for every browser with <code>animate()</code> method;</li>
        <li>unified event handling with <code>fn.on()</code> &amp; <code>off()</code>;</li>
        <li>performance boost for selectors.</li>
      </ul>
    </p>

  </div>

</div>
