---
title: "Zepto.js: the aerogel-weight jQuery-compatible JavaScript framework"
layout: default
description: >
  The aerogel-weight jQuery-compatible JavaScript framework
version: 0.8
github_url: https://github.com/madrobby/zepto
---

<aside id="sidebar" class="interface">

  <a class="toc_title" href="#">
    Zepto.js <span class="version">({{ page.version }})</span>
  </a>

  <a class=toc_title href="#core">Core</a>
  {% assign posts = site.categories.core %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#event">Event</a>
  {% assign posts = site.categories.event %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#ajax">Ajax</a>
  {% assign posts = site.categories.ajax %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#form">Form</a>
  {% assign posts = site.categories.form %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#fx">Effects</a>
  {% assign posts = site.categories.fx %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#changelog">Change Log</a>  

  <a class=toc_title href="#thanks">Thanks</a>  

</aside>

<div class="container">

  <header>
  <h1><img src=logo.png alt=Zepto.js></h1>
  
  <p>
    <b>Zepto</b> is a minimalist <b>JavaScript framework
    for modern browsers</b> with a largely
    <b>jQuery-compatible API</b>.

    <em>If you use jQuery, you already know how to use Zepto.</em>
  </p>

  <div id=tour>
    <img src=intro.jpg alt="Why Zepto? An introduction">
  </div>

  <p>
    While 100% jQuery coverage is not a design goal, the <b>APIs provided 
    match their jQuery counterparts</b>. The ultimate goal is to have a ~5-10k library 
    that <b>downloads and executes fast</b>, with a <b>familiar and versatile API</b>,
    so you can <b>concentrate on getting stuff done</b>.
  </p>
  
  <p>
    Zepto is open source software and released under the 
    developer- and business-friendly 
    <a href="{{ page.github_url }}/blob/master/MIT-LICENSE">MIT license</a>.
  </p>
  
  <p>
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://zeptojs.com/" data-text="Zepto.js, a jQuery-compatible micro-framework for modern browsers" data-count="horizontal" data-via="zeptojs" data-related="thomasfuchs">Tweet</a>
  </p>
 
  </header>
  
  <h3 id=download>Download Zepto</h3>
  
  <p>
    The default build includes the following modules:<br>
    <em>Core, Ajax, Event, Form, Effects, Touch, Polyfill, and Detect</em>.
  </p>

  <p class=compat>
    We're working on documenting all of these modules, as well as all the plugins.
    We're striving to have 100% documentation coverage when we release v1.0.
  </p>
  
  <ul class=downloads>
    <li>
      <a href="zepto.js" class="download">zepto.js v{{ page.version }} (for development)</a>
      – <i>46 kB uncompressed, lots of comments</i>
    </li>
    <li>
      <a href="zepto.min.js" class="download">zepto.min.js v{{ page.version }} (for production)</a>
      – <i>7.4 kB when gzipped</i>
    </li>
    <li>
      <a href="{{ page.github_url }}">Source code on Github</a>
    </li>
  </ul>
  
  <p>
    Include Zepto with a script tag near the end of your page:
  </p>
  
{% highlight html %}
...
</body>
<script src=zepto.js></script>
</html>
{% endhighlight %}

  <p>
    If you need to support Internet Explorer, you can fall back on jQuery.
    Note that conditional comments are no longer supported starting on IE 10, 
    so we recommend the following <code>document.write</code> approach:
  </p>

{% highlight html %}
<script>
document.write('<script src=' +
('__proto__' in {} ? 'zepto' : 'jquery') +
'.js><\/script>')
</script>
{% endhighlight %}

  <h3>Target platforms</h3>

  <p>
    Primarily, Zepto is targeted at these mobile platforms:
  </p>

  <ul>
    <li>iOS 4+ Safari</li>
    <li>Android 2.2+ Browser</li>
    <li>webOS 1.4.5+ Browser</li>
    <li>BlackBerry Tablet OS 1.0.7+ Browser</li>
    <li>Amazon Silk 1.0+</li>
  </ul>
  
  <p>
    Other supported platforms are:
  </p>

  <ul>
    <li>Safari 5+ (desktop)</li>
    <li>Chrome 5+ (desktop)</li>
    <li>Other WebKit-based browsers/runtimes</li>
    <li>Mozilla Firefox 4+</li>
    <li>Opera 10+</li>
  </ul>

  <p>
    Zepto will also have full support for upcoming
    mobile browsers that are currently in beta,
    like <a href="http://www.google.com/intl/en/chrome/android/">Chrome for Android</a>
    and <a href="http://www.mozilla.org/en-US/b2g/">Boot to Gecko</a>.
    We may add support for Internet Explorer 10 and 
    Windows Phone 8 depending on the final feature set
    of these browsers.
  </p>
  
  <p>
    Zepto is a good choice for browser extensions (for Safari and Chrome) and
    to develop HTML-based views within native app frameworks, such as
    <a href="http://phonegap.com/">PhoneGap</a>.
  <p>
    
  <p>    
    In short, Zepto is expected to work in every modern browser
    and browser-like environment; except for Internet Explorer.
  </p>
  
  <h3>Manually building Zepto</h3>
  
  <p>
    <code>zepto.js</code> and <code>zepto.min.js</code> can be used as-is.
    However, for best efficiency and customizability, run the build system
    that comes with Zepto's source code.
    It allows you to select modules, run tests,
    use <a href="https://github.com/mishoo/UglifyJS">UglifyJS</a> to
    minify your custom build, and gives you an estimate on the compression 
    that is achievable when  <code>zepto.min.js</code> is served Gzipped.
  </p>

  <p>
    Please refer to <a href="{{ page.github_url }}/blob/master/README.md">
    the README in the zepto GitHub repository</a> for further instructions on how
    to build Zepto, including running the tests and contributing patches.
  </p>

  <h3>Creating plug-ins</h3>

  <p>
    Plugins can be written by adding methods as properties of <code>$.fn</code>:
  </p>

{% highlight js %}
;(function($){
  $.extend($.fn, {
    foo: function(){
      // this points to a Zepto collection
      // always return the collection for chaining
      return this.html('bar')
    }
  })
})(Zepto)
{% endhighlight %}

  <p>
    To get started with plug-in development, take a look at the 
    <a href="{{ page.github_url }}/blob/master/src/zepto.js">source of Zepto's core module</a>,
    and be sure to read the <a href="{{ page.github_url }}/blob/master/README.md">coding style guidelines</a>.
  </p>

  <section id=documentation>

    <hr>
    <h2 id="core">Core methods</h2>
    {% assign posts = site.categories.core %}
    {% include methods_full.html %}

    <hr>
    <h2 id="event">Event handling</h2>
    {% assign posts = site.categories.event %}
    {% include methods_full.html %}

    <hr>
    <h2 id="ajax">Ajax requests</h2>
    {% assign posts = site.categories.ajax %}
    {% include methods_full.html %}

    <hr>
    <h2 id="form">Form methods</h2>
    {% assign posts = site.categories.form %}
    {% include methods_full.html %}

    <hr>  
    <h2 id="fx">Effects</h2>
    {% assign posts = site.categories.fx %}
    {% include methods_full.html %}

    <hr>
    <h2 id="changelog">Change Log</h2>

    {% for change in site.categories.changelog %}
    <article class=changelog>
      <h3>
        {{ change.title }}
        <small>&mdash; <i>{{ change.date | date_to_string }}</i>
        {% if change.diff %}&mdash; <a href="{{ page.github_url }}/compare/{{ change.diff }}">diff</a>{% endif %}
        </small>
      </h3>
      {{ change.content }}
    </article>
    {% endfor %}

    <hr>
    <h2 id=thanks>Acknowledgements &amp; Thanks</h2>
    
    <p>
      A big <b>Thank-You</b> goes out to all of our
      <a href="https://github.com/madrobby/zepto/contributors">awesome Zepto.js contributors</a>.
      May you all forever bask in glory.
    </p>
    
    <p>
      The Zepto API is based on <a href="http://jquery.com/">jQuery's Core API</a>, which
      is released under the <a href="https://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt">MIT license</a>.
    </p>
    
    <p>
      This documentation is based on the layout of the
      <a href="https://github.com/documentcloud/backbone/">Backbone.js</a> 
      documentation, which is released under the 
      <a href="https://github.com/documentcloud/backbone/blob/master/LICENSE">MIT license</a>.
    </p>

    <p>
      <small>
        &copy; 2010-2012 Thomas Fuchs<br>
        Zepto and this documentation is released under the terms of the <a href="{{ page.github_url }}/blob/master/MIT-LICENSE">MIT license</a>.
      </small>
    </p>

  </section>

</div>

<script src="zepto.js"></script>
<script>
  function injectScript(src) {
    var s = document.createElement('script')
    s.src = src; s.async = true
    $('script').first().before(s)
  }

  $('.signature code').html(function(i, html){
    return html.replace(/\)([^()]+)$/mg, ') <span class=return>$1</span>')
  })

  if ($.os.ios || /\bMac.+\bSafari\b/.test(navigator.userAgent))
    $(document.body).addClass('emoji-enabled')

  // change the title of the page so bookmarks have a better default
  if ($.os.ios || $.os.android)
  document.title = 'Zepto Docs'

  var tour = $('#tour'), tourSlides = tour.children(),
      tourSlide = 0, tourSlidesTotal = 5

  function advanceTourSlide(delta){
    tourSlide = (tourSlide + delta + tourSlidesTotal) % tourSlidesTotal
    var offset = tourSlide * tour.width()
    tourSlides.animate({ translateX: -offset + 'px' })
  }

  tour.on('click swipeLeft', function(){ advanceTourSlide(+1) })
      .on('swipeRight', function(){ advanceTourSlide(-1) })

  if (/^localhost|\.(dev|local)$/.test(location.hostname) && $.os.iphone && !/Simulator/.test(navigator.userAgent))
    injectScript('livereload.js')

  if (/\.com$/.test(location.hostname))
    injectScript('http://platform.twitter.com/widgets.js')
</script>

<script>
  var _gauges = _gauges || [];
  if (/\.com$/.test(location.hostname)) (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f46b5c5f5a1f573c300004c');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
