/* yanked from <http://underscorejs.org> */
body {
  font-size: 14px;
  line-height: 22px;
  background: #fff;
  color: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.interface {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
#tour {
  max-width: 100%;
  width: 512px;
  overflow-x: hidden;
  position: relative;
  -webkit-transform: translateZ(0);
}
#tour img {
  max-width: 500%;
}
#sidebar {
  background: #f3eaff;
  position: fixed;
  top: 0; left: 0; bottom: 0;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 15px 0 30px 30px;
  border-right: 1px solid #d4b4ff;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(0.92, transparent), color-stop(0.9201, rgba(212, 180, 255, 0.0)), to(rgba(212, 180, 255, 0.3))), #f3eaff;
}
a.toc_title, a.toc_title:visited {
  display: block;
  color: black;
  font-weight: bold;
  margin-top: 15px;
  text-decoration: underline;
}
#sidebar .version {
  font-size: 10px;
  font-weight: normal;
}
ul.downloads {
  padding-left: 0;
  list-style-type: none;
}
ul.downloads li {
  margin: 10px 0;
}
ul.toc_section {
  font-size: 11px;
  line-height: 14px;
  margin: 5px 0 0 0;
  padding-left: 0px;
  list-style-type: none;
}
.toc_section li {
  margin: 0 0 3px 0;
}
.toc_section li:before { 
  content: "▹ ";
  color: #b01df9;
}
.toc_section li a {
  text-decoration: underline;
  color: black;
}
.container {
  max-width: 690px;
  margin: 30px 0 50px 260px;
}
p {
  margin: 20px 0;
}
a, a:visited {
  color: #724dff;
}
a:active, a:hover {
  color: #6180f4;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding-top: 1.5em;
  line-height: 1.1;
}
h1:first-child {
  margin-top: 0;
  padding-top: 0;
  font-size: 2.2em;
  font-weight: 200;
}
img[src^=logo] { max-width: 100% }
h2 {
  font-size: 20px;
  padding-bottom: .5em;
}
h4 { padding-top: .5em }
#sidebar hr {
  margin: 25px 0 0 0;
}
hr {
  height: 1px;
  border: 0;
  padding: 0;
  margin: 35px 0 0 0;
  background: rgba(0,0,0,0.20);
  background: -moz-linear-gradient(left center, rgba(165, 69, 243, 0.0) rgba(165, 69, 243, 0.33) 50%, rgba(165, 69, 243, 0.0));
  background: -webkit-gradient(linear, left top, right top, from(rgba(165, 69, 243, 0.0)), color-stop(0.5, rgba(165, 69, 243, 0.33)), to(rgba(165, 69, 243, 0.0)));
}
ul {
  list-style-type: circle;
  padding: 0 0 0 20px;
}
li + li {
  margin-top: .3em;
}
li > ul { margin-top: .3em }
li li { margin-top: 0 }
code, pre, tt {
  font: normal 12px/18px Monaco, Consolas, "Lucida Console", monospace; 
}
pre {
  background: #f8f8ff;
  border: 2px solid #eee;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
}
pre.signature {
  border: 0;
  padding: 0;
  border-radius: 0;
  background: 0;
  overflow: visible;
  white-space: pre-wrap;
}
pre.signature code {
  background-color: transparent !important;
}
pre.signature .return { 
  color: gray;
}
code {
  background-color: #f8f8ff;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
pre code {
  padding: 0;
}
p > code, li > code {
  border: 1px solid #eee;
}
tt {
  padding: 0px 3px;
  background: #fff;
  border: 1px solid #ddd;
  zoom: 1;
}

article {
  margin: 0 0 20px 0;
}

article.method h3 { margin-bottom: .2em; }
article.method h3 .emoji { display: none }
.emoji-enabled article.method h3 .emoji {
  display: inline;
  font-weight: normal;
  font-size: 28px;
  cursor: default;
}
article.method p { margin: .5em 0 }
article.method .warning, article.method .version {
  margin: 0;
  font: bold 11px Arial;
  color: #770000;
}
article.method .warning a {
  color: #770000;
}
article.method .version { 
  background: #ccf;
  color: #000;
  padding: 1px 3px;
  margin: 0 0 0 5px;
  font-weight: normal;
  border-radius: 3px;
  cursor: default;
}

article.changelog h3 small { font-weight: normal }

a.download {
  -webkit-user-select: none;
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,32,0.01)), to(rgba(0,0,32,0.08)));
  background-image: -moz-linear-gradient(rgba(0,0,32,0.01), rgba(0,0,32,0.08));
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #202028;
  padding: 4px 10px;
  border: 1px solid #a8a8af;
  text-decoration: none !important;
  text-shadow: 0 1px 1px rgba(255,255,255,0.9);
  font-size: 14px;
  line-height: 19px;
  font-family: helvetica, arial, sans-serif;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

a.download:hover {
  color: #202028;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,32,0.01)), to(rgba(0,0,32,0.16)));
  background-image: -moz-linear-gradient(rgba(0,0,32,0.01), rgba(0,0,32,0.16));
  border-color: #707078;
}

a.download:active {
  background-color: rgba(0,0,32,0.05);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,32,0.16)), to(rgba(0,0,32,0.01)));
  background-image: -moz-linear-gradient(rgba(0,0,32,0.16), rgba(0,0,32,0.01));
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
}

p.important {
  padding: 4px 10px;
  background: #ffd;
  color: #000;
}

p.compat {
  padding: 4px 10px;
  background: #ffd;
  color: #000;
}

p.compat::before {
  content: '💔';
}

p.compat a {
  font-weight: bold;
  color: #000 !important;
}

@media only screen and (device-width: 768px) {
  /* this solves scrolling issues and taps not being recognized specifically on ipad */
  .container {
    -webkit-overflow-scrolling: touch;
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px 30px 20px 260px;
    box-sizing: border-box;
    margin: 0;
    max-width: none;
    width: 100%;
    z-index: -10;
  }
  #tour { -webkit-overflow-scrolling: auto }
  img[src^=logo] { max-width: 460px }
  #sidebar {
    z-index: 10;
  }
  ul.toc_section li {
    font-size: 16px;
    line-height: 22px;
  }
  pre { white-space: pre-wrap }
}

@media only screen and (max-width: 480px) {
  html { -webkit-text-size-adjust: 100% }
  body { margin: 0; padding: 0 }
  p { margin: .5em 0 }
  h1, h2, h3, h4, h5, h6 { padding-top: .5em }
  #sidebar {
    display: none;
    box-sizing: border-box;
    padding: 12px 16px 30px;
    width: 140px;
    height: 100%;
    font-family: helvetica, sans-serif;
    left: auto;
    right: 0px;
    -webkit-transform: translateX(140px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
    z-index: 1000;
    border-right: none;
    border-left: 1px solid #d4b4ff;
    background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0.92, transparent), color-stop(0.9201, rgba(212, 180, 255, 0.0)), to(rgba(212, 180, 255, 0.3))), #f3eaff;
  }
  .navigating #sidebar {
    -webkit-transform: translateX(0);
  }
  #menu_icon {
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 3px;
    background: #b01df9;
    color: #fff;
    text-shadow: 0px -1px rgba(0,0,0,0.5);
    padding: 3px 4px;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    z-index: 10000;
    -webkit-transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
  }
  .navigating #menu_icon {
    -webkit-transform: translateX(-140px);
  }
  a.toc_title { margin-top: .2em }
  ul.toc_section { 
    font-size: 13px; line-height: 18px 
  }
  .container {
    margin: 12px;
    max-width: none;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
  }
  .navigating .container {
    -webkit-transform: translateX(-140px);
  }
  img[src^=logo] { max-width: 250px }
  article { 
    margin-bottom: 12px;
  }
  article.method h3 { padding-top: 10px }
  article.method p { margin: .2em 0 }
  article.method pre { margin: 0; white-space: pre-wrap }
  pre { padding: 2px 8px }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
  html { -webkit-text-size-adjust: 100% }
  #menu_icon {
    display: none;
  }  
  #sidebar {
    width: 135px;
    padding: 0 15px;
  }
  .container {
    max-width: 568px;
    margin: 30px 10px 50px 175px;
  }
  ul.toc_section li { 
    font-size: 15px; 
    line-height: 20px 
  }
}

@media only screen and (min-width: 569px) and (max-width: 767px) {
  html { -webkit-text-size-adjust: 100% }
  #sidebar {
    width: 135px;
    padding: 0 15px;
  }
  .container {
    max-width: 100%;
    margin: 0px 10px 50px 175px;
  }
  ul.toc_section li { 
    font-size: 15px; 
    line-height: 20px 
  }
}

/* syntax */
.hll { background-color: #ffffdd }
.c { color: #888888 } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #008800; font-weight: bold } /* Keyword */
.cm { color: #888888 } /* Comment.Multiline */
.cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.c1 { color: #888888 } /* Comment.Single */
.cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #303030 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #606060 } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008800 } /* Keyword.Pseudo */
.kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.kt { color: #888888; font-weight: bold } /* Keyword.Type */
.m { color: #0000DD; font-weight: bold } /* Literal.Number */
.s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.na { color: #336699 } /* Name.Attribute */
.nb { color: #003388 } /* Name.Builtin */
.nc { color: #bb0066; font-weight: bold } /* Name.Class */
.no { color: #003366; font-weight: bold } /* Name.Constant */
.nd { color: #555555 } /* Name.Decorator */
.ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.nf { color: #0066bb; font-weight: bold } /* Name.Function */
.nl { color: #336699; font-style: italic } /* Name.Label */
.nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.py { color: #336699; font-weight: bold } /* Name.Property */
.nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.nv { color: #336699 } /* Name.Variable */
.ow { color: #008800 } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.bp { color: #003388 } /* Name.Builtin.Pseudo */
.vc { color: #336699 } /* Name.Variable.Class */
.vg { color: #dd7700 } /* Name.Variable.Global */
.vi { color: #3333bb } /* Name.Variable.Instance */
.il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
.hll *[class^=s] { background-color: inherit }
